<!DOCTYPE html>
<html>

{% extends "base.html" %}
{% block content %}
  <div class="py-5 cover" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="center-wrapper w-100 m-1" align="center">
            <i class="fa d-inline fa-graduation-cap fa-5x mx-2"></i>
            <i class="fa d-inline fa-user fa-5x mx-2"></i>
            <i class="fa d-inline fa-5x fa-users mx-2"></i>
            <br> </div>
          <form class="" method="POST" action="/auth/login/">
            {% csrf_token %}

          <h1 class="display-4 text-primary py-3 text-center">LOGIN FORM</h1>
          <div class="form-group my-3">
            <label>Username</label>
            <input type="text" name="username" class="form-control" placeholder="Type your answer here..."> </div>
          <div class="form-group my-3">
            <label>Password</label>
            <input type="Password" name="password" class="form-control" placeholder="Type your answer here..."> </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


</html>