{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>

<body >
  <div class="py-5 cover">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 text-primary py-3">FORM PENDAFTARAN BEASISWA</h1>
          <div class="form-group">
            <div class="row py-2">
              <div class="col-md-2">

              <form method="POST" action="/mahasiswaDashboard/daftar/">
                {% csrf_token %}
                    <label>Kode Beasiswa :</label>
                  </div>
                  <div class="col-md-10">
                    
                    <select name="kode" class="dropbtn">
                      <div class="dropdown-content">

                        {% for beasiswa in arrBeasiswaAktif %}
                        <option value={{beasiswa.0}}>{{beasiswa.0}} - {{beasiswa.1}} (tgl buka: {{beasiswa.2}} )</option>
                        {% endfor %}

                      </div>
                    </select>

                  </div>
                </div>
                <div class="row py-2">
                  <div class="col-md-2">
                    <label>NPM :</label>
                  </div>
                  <div class="col-md-10">
                    <p class="lead">1606833002</p>
                  </div>
                </div>
                <div class="row py-2">
                  <div class="col-md-2">
                    <label>Email :</label>
                  </div>
                  <div class="col-md-10">
                    <p class="lead">ivan.abdurrahman@gmail.com</p>
                  </div>
                </div>
              </div>
              <div class="row"> </div>
              <div class="form-group">
                <label>Indeks Pretasi Semester</label>
                <input type="text" class="form-control" placeholder="Masukkan Indeks Prestasi Semester..."> 
              </div>
                <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
{% endblock %}