{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="col-md-12 p-4">
            <img class="img-fluid d-block rounded-circle mx-auto" src="https://pbs.twimg.com/profile_images/920380950818754560/F_8z98vB.jpg" width="200" height="200 200 400">
            <h3 class="text-center my-2">
              <b class="text-primary">{{ nama }}</b>
              <br>as {{ role }}</h3>
            <div class="row">
              <div class="col-md-12 my-1">
                <ul class="">
                  <li>Username : {{ username }}</li>
                  <li>NPM : {{ npm }}</li>
                  <li>Email : {{ email }}</li>
                  <li>No Telepon : {{ no_telp }}</li>
                </ul>
              </div>
            </div>

            <div class="row my-1">
              <div class="col-md-12">
                <div class="center-wrapper my-1" align="center">
                  <a class="btn btn-secondary" href="daftarBeasiswa/">Daftar Beasiswa</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-8">
          <div class="my-3">
            <h1 class="text-primary">
              <b>Status Penerimaan Beasiswa</b>
            </h1>
              <p>Informasi tentang beasiswa yang telah Anda lamar / daftar sebelumnya</p>
            </div>

          {% for beasiswa in arrBeasiswa %}

          <div class="row my-2 py-1" >
            <div class="col-md-1">
              <p class="text-center"> No urut: 
              <h3 class="text-center">{{ beasiswa.0 }}</h3>
            </p>
            </div>
            <div class="col-md-11">
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Beasiswa {{ beasiswa.1 }}</h5>
                </div>
                <p class="mb-1">Waktu tutup: {{ beasiswa.2 }}</p>
                <small class="text-primary">Status penerimaan: {{ beasiswa.3 }}</small>
              </a>
            </div>
          </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</body>

</html>
{% endblock %}