{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>

<body>
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="my-3 text-primary">
            <b>Beasiswa {{dataBeasiswa.0}}</b>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="">{{dataBeasiswa.1}} </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-primary my-1">
            <b class="H2">Daftar Pendaftar</b>
          </h1>
        </div>
      </div>

      {% for pendaftar in arrPendaftar %}

      <div class="row my-2 py-1">
        <div class="d-flex col-md-12">
          <div class="d-flex">
            <div class="center-wrapper w-100 m-2" align="center">
              <p class="H1">&nbsp;No. {{pendaftar.0}}</p>
              <br> </div>
          </div>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{pendaftar.1}}</h5>
            </div>
            <p class="mb-1">NPM. {{pendaftar.2}}</p>
            <small class="text-muted">Waktu Daftar: {{pendaftar.3}}</small>
            <br>
            <small class="text-muted">Status Penerimaan: {{pendaftar.4}}</small>
          </a>
          <div class="d-flex">
            <div class="center-wrapper w-100 m-2" align="center">
              <a class="btn btn-secondary my-3" href="{% url 'donaturDashboard:terima' pendaftar.0 dataBeasiswa.2 pendaftar.2 %}">Terima</a>
              </div>
              <br>
          </div>
          <div class="d-flex">
            <div class="center-wrapper w-100 m-2" align="center">
              <a class="btn my-3 btn-primary" href="{% url 'donaturDashboard:tolak' pendaftar.0 dataBeasiswa.2 pendaftar.2 %}">Tolak</a>
              <br> </div>
          </div>
        </div>
      </div>

      {% endfor %}

  </div>
  <div class="py-5">
  </div>

<!--       <div class="row my-3">
        <div class="col-md-12">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">
                <span>«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">
                <span>»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->

  </div>

</body>


</html>
{% endblock %}