{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="col-md-12 p-4">
            <img class="img-fluid d-block rounded-circle mx-auto" src="http://globalmedicalco.com/photos/globalmedicalco/20/98173.jpg" width="200" height="200 200 400">
            <h3 class="text-center my-2">
              <b class="text-primary">{{ nama }}</b>
              <br>as {{ role }}</h3>
            <div class="row">
              <div class="col-md-12 my-1">
                <ul class="">
                  <li>Username : {{ username }}</li>
                  <li>Id donatur : {{ nomor_identitas }}</li>
                  <li>Email : {{ email }}</li>
                  <li>No Telepon : {{ no_telp }}</li>
                </ul>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-12">
                <div class="center-wrapper my-1" align="center">
                  <a class="btn btn-secondary" href="/PaketBeasiswa/pendaftaranPaket/">Buat Paket Beasiswa Baru</a>
                </div>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-12">
                <div class="center-wrapper my-1" align="center">
                  <a class="btn btn-secondary" href="/PaketBeasiswa/tambahDariPaket/"> Menambahkan Beasiswa dari Paket </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <h1 class="my-3 text-primary">
            <b>Beasiswa Anda</b>
          </h1>

          {% for beasiswa in arrBeasiswa %}

          <div class="row my-2 py-1">
            <div class="col-md-9">
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Beasiswa {{ beasiswa.0 }}</h5>
                </div>
                <p class="mb-1">Waktu tutup {{ beasiswa.1 }}</p>
                {% if beasiswa.2 %}
                  <small class="text-muted">Penerimaan beasiswa telah berakhir</small>
                {% else %}
                  <small class="text-muted">Penerimaan beasiswa masih dibuka</small>
                {% endif %}
              </a>
            </div>
            <div class="col-md-3">
              <p class="my-1 text-center">
                Total pendaftar
                <b>{{ beasiswa.3 }}</b>
              </p>
              <div class="center-wrapper my-1" align="center">
                <a class="btn btn-secondary" href="{% url 'donaturDashboard:detail' beasiswa.4 %}">Set Penerima</a>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</body>

</html>
{% endblock %}