<!DOCTYPE html>
<html>

{% extends "base.html" %}
{% block content %}
<div class="py-3">
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="center-wrapper w-100 m-1" align="center">
            <i class="fa d-inline fa-5x fa-users"></i>
            <br> </div>

            <form class="" method="POST" action="/register/addDonaturYayasan/">
              {% csrf_token %}
          <h1 class="display-4 text-primary py-3 text-center">FORM REGISTRASI YAYASAN</h1>
          <div class="form-group my-3">
            <label>Username*</label>
            <input type="text" name="username" class="form-control" placeholder="Type your answer here..." required> </div>
          <div class="form-group my-3">
            <label>Password*</label>
            <input type="password" name="password" class="form-control" placeholder="Type your answer here..." required>
            <label class="m-2">Password bersifat case sensitive, terdiri dari angka dan bilangan, panjang minimal 8 karakter</label>
          </div>
          <div class="form-group my-3">
            <label>Nomor Identitas*</label>
            <input type="text" name="nomor_identitas" class="form-control" placeholder="Type your answer here..." required> </div>
          <div class="form-group my-3">
            <label>Nomor SK Yayasan*</label>
            <input type="text" name="nomor_sk_yayasan" class="form-control" placeholder="Type your answer here..." required>
            <label class="m-2"> ​Nomor SK Yayasan belum terdaftar oleh sistem - Password bersifat case sensitive, terdiri dari huruf dan angka, panjang minimal 8 karakter</label>
          </div>
          <div class="form-group my-3">
            <label>Email*</label>
            <input type="email" name="email" class="form-control" placeholder="Type your answer here..." required> </div>
          <div class="form-group my-3">
            <label>Nama Yayasan*</label>
            <input type="text" name="nama" class="form-control" placeholder="Type your answer here..." required> </div>
          <div class="form-group my-3">
            <label>Nomor Telepon Contact Person</label>
            <input type="text" name="no_telp" class="form-control" placeholder="Type your answer here..."> </div>
          <div class="form-group my-3">
            <label>NPWP*</label>
            <input type="text" name="npwp" class="form-control" placeholder="Type your answer here..." required> </div>
          <div class="form-group my-3">
            <label>Alamat Yayasan*</label>
            <input type="text" name="alamat" class="form-control" placeholder="Type your answer here..." required> </div>
          
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

</html>