<!DOCTYPE html>
<html>

{% extends "base.html" %}
{% block content %}
<div class="py-3">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="center-wrapper w-100 m-1" align="center">
            <i class="fa d-inline fa-user fa-5x" ></i>
            <br> </div>
          <form class="" method="POST" action="/register/addDonaturIndividual/">
            {% csrf_token %}
              <h1 class="display-4 text-primary py-3 text-center">FORM REGISTRASI DONATUR INDIVIDU</h1>
              <div class="form-group my-3">
                <label>Username*</label>
                <input type="text" name="username" class="form-control" placeholder="Type your answer here..." required> </div>
              <div class="form-group my-3">
                <label>Password*</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="Type your answer here..." required>
                <label class="m-2">Password bersifat case sensitive, terdiri dari angka dan bilangan, panjang minimal 8 karakter</label>
              </div>
              <div class="form-group my-3">
                <label>Nomor Identitas*</label>
                <input type="text" name="nomor_identitas" class="form-control" placeholder="Type your answer here..." required> </div>
              <div class="form-group my-3">
                <label>NIK*</label>
                <input type="text" name="nik" class="form-control" placeholder="Type your answer here..." required>
                <label class="m-2">NIK belum terdaftar oleh sistem, terdiri dari tepat​ 16 karakter</label>
              </div>
              <div class="form-group my-3">
                <label>Email*</label>
                <input type="email" name="email" class="form-control" placeholder="Type your answer here..." required> </div>
              <div class="form-group my-3">
                <label>Nama Lengkap*</label>
                <input type="text" name="nama" class="form-control" placeholder="Type your answer here..." required> </div>
              <div class="form-group my-3">
                <label>NPWP*</label>
                <input type="text" name="npwp" class="form-control" placeholder="Type your answer here..." required> </div>
              <div class="form-group my-3">
                <label>Nomor Telepon</label>
                <input type="text" name="no_telp" class="form-control" placeholder="Type your answer here..."> </div>
              <div class="form-group my-3">
                <label>Alamat Lengkap*</label>
                <input type="text" name="alamat" class="form-control" placeholder="Type your answer here..." required> </div>
                <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

</html>