<!DOCTYPE html>
<html>

{% extends "base.html" %}
{% block content %}
<div class="py-3">
<div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="center-wrapper w-100 m-1" align="center">
            <i class="fa d-inline fa-graduation-cap fa-5x"></i>
            <br> </div>
          <h1 class="display-4 text-primary py-3 text-center">FORM REGISTRASI MAHASISWA</h1>
        <form method="POST" action="/register/addMahasiswa/">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username"> Username </label>
                    <input class="form-control" type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password"> Password </label>
                    <input class="form-control" type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="npm"> NPM :</label>
                    <input class="form-control" type="text" id="npm" name="npm" required>
                </div>
                <div class="form-group">
                    <label for="email"> Email :</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="nama"> Nama Lengkap : </label>
                    <input class="form-control" type="text" id="nama" name="nama" required>
                </div>
                <div class="form-group">
                    <label for="no_telp"> Nomor Telepon : </label>
                    <input class="form-control" type="text" id="no_telp" name="no_telp">
                </div>
                <div class="form-group">
                    <label for="alamat_tinggal"> Alamat Tempat Tinggal : </label>
                    <input class="form-control" type="text" id="alamat_tinggal" name="alamat_tinggal" required>
                </div>
                <div class="form-group">
                    <label for="alamat_domisili"> Alamat Domisili : </label>
                    <input class="form-control" type="text" id="alamat_domisili" name="alamat_domisili" required>
                </div>
                <div class="form-group">
                    <label for="nama_bank"> Instansi Bank : </label>
                    <input class="form-control" type="text" id="nama_bank" name="nama_bank" required>
                </div>
                <div class="form-group">
                    <label for="no_rekening"> Nomor Rekening : </label>
                    <input class="form-control" type="text" id="no_rekening" name="no_rekening" required>
                </div>
                <div class="form-group">
                    <label for="nama_pemilik"> Nama Pemilik : </label>
                    <input class="form-control" type="text" id="nama_pemilik" name="nama_pemilik" required>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

</html>