<!DOCTYPE html>
<html>

{% extends "base.html" %}
{% block content %}
  <div class="w-100 py-5 cover" >
    <div class="w-100 container-fluid">
      <div class="row my-2">
        <div class="col-md-12">
          <h1 class="text-center text-primary text-uppercase px-3">lets join us!</h1>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-4">
          <div class="center-wrapper" align="center">
            <i class="fa fa-5x d-block fa-graduation-cap"></i>
          </div>
          <h1 class="text-center">Beasiswa Hunter</h1>
          <p class="text-center">Beasiswa Hunter adalah term yang digunakan untuk Kamu para mahasiswa yang ingin mendapatkan beasiswa dan melanjutkan pendidikan setinggi-tingginya untuk mewujudkan masa depan yang cemerlang!</p>
          <div class="center-wrapper" align="center">
            <a href="mahasiswa/" class="btn btn-outline-primary">Be a Beasiswa Hunter</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="center-wrapper" align="center">
            <i class="fa fa-5x d-block fa-user"></i>
          </div>
          <h1 class="text-center">Individual Donors</h1>
          <p class="text-center">Dengan menjadi seorang Individual Donors Kamu bisa secara langsung berkontribusi untuk menciptakan perubahan dan mewujudkan masa depan serta pendidikan yang lebih baik!</p>
          <div class="center-wrapper" align="center">
            <a href="individual-donatur/" class="btn btn-outline-primary">Be an Individual Donors</a>
          </div>
        </div>
        <div class="col-md-4" align="center">
          <div class="center-wrapper" align="center">
            <i class="fa fa-5x d-block fa-users"></i>
          </div>
          <h1 class="text-center">Foundation</h1>
          <p class="text-center">Jadikan Foundation / Yayasanmu menjadi bagian dari satu dari sekian banyak Yayasan pembawa perubahan untuk pendidikan yang membuat pendidikan dan masa depan yang lebih bercahaya</p>
          <div class="center-wrapper" align="center">
            <a href="yayasan/" class="btn btn-outline-primary">Register your Foundation</a>
          </div>
        </div>
        <br>
        <br> </div>
      <div class="row">
        <div class="col-md-12 my-3">
          <h4 class="text-center">Sudah punya akun?</h4>
          <div class="center-wrapper" align="center">
            <a href="/auth/" class="btn btn-outline-primary">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

</html>
<!-- 
<script>var items = document.querySelectorAll('#i277k6');
  for (var i = 0, len = items.length; i < len; i++) {
    (function(){
      var t,e=this,a="[data-tab]",n=document.body,r=n.matchesSelector||n.webkitMatchesSelector||n.mozMatchesSelector||n.msMatchesSelector,o=function(){
        var a=e.querySelectorAll("[data-tab-content]")||[];
        for(t=0;t<a.length;t++)a[t].style.display="none"}
      ,i=function(n){
        var r=e.querySelectorAll(a)||[];
        for(t=0;t<r.length;t++){
          var i=r[t],s=i.className.replace("tab-active","").trim();
          i.className=s}
        o(),n.className+=" tab-active";
        var l=n.getAttribute("href"),c=e.querySelector(l);
        c&&(c.style.display="")}
      ,s=e.querySelector(".tab-active"+a);
      s=s||e.querySelector(a),s&&i(s),e.addEventListener("click",function(t){
        var e=t.target;
        r.call(e,a)&&i(e)}
                                                        )}
     .bind(items[i]))();
  }
  var items = document.querySelectorAll('#ip1jne');
  for (var i = 0, len = items.length; i < len; i++) {
    (function(){
      var t,e=this,a="[data-tab]",n=document.body,r=n.matchesSelector||n.webkitMatchesSelector||n.mozMatchesSelector||n.msMatchesSelector,o=function(){
        var a=e.querySelectorAll("[data-tab-content]")||[];
        for(t=0;t<a.length;t++)a[t].style.display="none"}
      ,i=function(n){
        var r=e.querySelectorAll(a)||[];
        for(t=0;t<r.length;t++){
          var i=r[t],s=i.className.replace("tab-active","").trim();
          i.className=s}
        o(),n.className+=" tab-active";
        var l=n.getAttribute("href"),c=e.querySelector(l);
        c&&(c.style.display="")}
      ,s=e.querySelector(".tab-active"+a);
      s=s||e.querySelector(a),s&&i(s),e.addEventListener("click",function(t){
        var e=t.target;
        r.call(e,a)&&i(e)}
                                                        )}
     .bind(items[i]))();
  }
</script>

<style>*
  {
  box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .clearfix{
    clear:both;
  }
  .container-width{
    width:90%;
    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto;
    max-width:1150px;
  }
  .label{
    width:100%;
    display:block;
  }
  .tab{
    color:inherit;
    text-decoration:none;
    margin-right:10px;
    display:inline-block;
    transition-property:opacity;
    transition-duration:0.3s;
    transition-timing-function:ease;
    transition-delay:0s;
  }
  .tab.tab-active{
    color:white;
    background-color:rgb(13, 148, 230);
  }
  .tab-content{
    padding-top:6px;
    padding-right:12px;
    padding-bottom:6px;
    padding-left:12px;
    min-height:100px;
    animation-name:fadeEffect;
    animation-duration:1s;
    animation-timing-function:ease;
    animation-delay:0s;
    animation-direction:normal;
    animation-play-state:running;
    animation-iteration-count:1;
    animation-fill-mode:none;
  }
  .c22113{
    padding:10px;
    color:#ff0000;
    font-size:12px;
  }
  @media all and (max-width:768px){
    .foot-form-cont{
      width:400px;
    }
  }
  @media all and (max-width:480px){
    .foot-lists{
      display:none;
    }
  }
  @keyframes fadeEffect{
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
  }
</style> -->