{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>




<body class="py-5">

  <div class="py-4">
    <div class="container">
      <div class="row">
<h1 class="my-3 text-primary" > <b>Daftar Beasiswa Aktif</b> </h1>
</div>
</div>
</div>

{% if arrBeasiswa %}
   {% for beasiswa in arrBeasiswa %}

    <div class="row px-5 my-2">
      <div class="col-md-10">
        <a href="" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" data-target="#myModal{{beasiswa.4}}">
            <h5 class="mb-1">Beasiswa {{beasiswa.0}} </h5>
          <p class="mb-1">Tutup pada {{beasiswa.1}} </p>

          {% if beasiswa.2 %}
          <small class="text-muted">Pendaftaran beasiswa masih dibuka</small>
          {% else %}
          <small class="text-muted">Pendaftaran beasiswa sudah ditutup</small>
          {% endif %}

        </a>
      </div>
      <div class="col-md-2">
        <p class="text-center"> Total pendaftar {{beasiswa.3}} </p>
        <div class="center-wrapper" align="center">
          <a class="btn btn-secondary" data-toggle="modal" data-target="#myModal{{beasiswa.4}}" >Detail</a>
        </div>

      <div id="myModal{{beasiswa.4}}" class="modal fade" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{beasiswa.0}} - {{beasiswa.4}}</h5>
                <button type="button" class="close" data-dismiss="modal">
                  <span>×</span>
                </button>
              </div>
              <div class="modal-body">
                <p> {{beasiswa.5}}dibuat oleh {{beasiswa.6}} </p>
                <p> {{beasiswa.7}}</p>
                <p> Syarat Beasiswa : {{beasiswa.8}}</p>

              </div>
              <div class="modal-footer">

                {% if request.session.role == "mahasiswa" %}
                  <a type="btn btn-secondary" class="btn btn-secondary" href="/mahasiswaDashboard/daftarBeasiswa/" >Daftar Beasiswa Ini</a>
                {% endif %}

              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      </div>
    </div>

  {% endfor %}
{% endif %}

</body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> {% endblock %}
</html>