<!DOCTYPE html>
<html>

<head></head>

<body class="py-5">{% extends "base.html" %} {% block content %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">
  <div class="">
    <div class="container">
      <div class="row">
        <ul class="nav nav-tabs"></ul>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <h1 class="display-4 text-primary py-3">Form Pendaftaran Paket Beasiswa Baru</h1>
        <div class="col-md-12">
        <form class="" method="POST" action="/PaketBeasiswa/regisBeasiswa/">
        {% csrf_token %}
          <div class="form-group">
            <label>Kode</label>
            <input type="text" class="form-control"  name='kode' placeholder="Masukkan kode...">
            <small class="form-text text-muted">Kode Bersifat Unik</small>
          </div>
          <div class="form-group">
            <label>Nama Paket Beasiswa</label>
            <input type="text" class="form-control" name='namapaketbeasiswa' placeholder="Masukkan nama beasiswa...">
            
          </div>
          <p class="">Jenis Paket Beasiswa</p>

          <select name="jenis" class="dropbtn">
            <div class="dropdown-content">

              <option value="Bulanan">Beasiswa Bulanan</option>
              <option value="Semesteran">Beasiswa Semesteran</option>
              <option value="Tahunan">Beasiswa Tahunan</option>

            </div>
          </select>

          
            <div class="form-group">
              <label>Deskripsi</label>
            <input type="text" class="form-control" name='desc' placeholder="Masukkan desc...">
              
            </div>
            <div class="form-group">
              <label>Syarat Beasiswa</label>
              <input type="text" class="form-control" name='syaratbeasiswa' placeholder="Masukkan syarat beasiswa..."> </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="lead">Lead paragraph </p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
  </div> {% endblock %} </body>

</html>