<!DOCTYPE html>
<html>

<head></head>

<body class="py-5">{% extends "base.html" %} {% block content %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">
  <div class="">
    <div class="container">
      <div class="row">
        <ul class="nav nav-tabs"></ul>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="container">
      <div class="row">
        <h1 class="display-4 text-primary py-3">Form Tambah Beasiswa Dari Paket Beasiswa</h1>
        <div class="col-md-12">

         <form class="" method="POST" action="/PaketBeasiswa/aktifkanBeasiswa/">
          {% csrf_token %}

          <div class="form-group">
            <label>Kode Beasiswa </label>

            <select name="kode" class="dropbtn">
          
            <div class="dropdown-content">
              {% for data in arrKode %}
                <option value="{{data.0}}">{{data.0}} - {{data.1}}</option>
              {% endfor %}

            </div>
          </select>

            
          </div>
         
          <div class="form-group">
            <label>Nomor Urut</label>
            <input type="text" class="form-control" name='nomorurut' placeholder="Masukkan nomor urut...">
           
          </div>
          <form class="">
            <div class="form-group">
              <label>Tanggal Mulai Pendaftaran</label>
              <input type="date" class="form-control" name='tglmulaipendaftaran' placeholder="format: MM/DD/YYYY">
              
            </div>
            <div class="form-group">
              <label>Tanggal Mulai Penutupan</label>
              <input type="date" class="form-control" name='tglmulaipenutupan' placeholder="format: MM/DD/YYYY"> </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row"></div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </div> {% endblock %} </body>

</html>