{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>

<body>
  <div class="py-5 text-center filter-dark cover" style="background-image: url(&quot;http://assets3.bigthink.com/system/video_backgrounds/61233/original/S-Kay-Stage-BG-CMS.jpg&quot;);background-position:center top;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-primary">SIMBION</h1>
          <p class="lead mb-5">
            <i>Simbion is an akronim from Sistem Informasi Beasiswa Universitas X</i>. Melalui web apps ini Kamu dapat mendaftarkan diri sebagai seorang mahasiswa maupun sebagai donatur yang bisa membuka skema beasiswa sendiri. Ayo gabung dengan SIMBION
            demi pendidikan yang lebih baik!&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 py-5" >
    <div class="w-100 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center text-primary text-uppercase px-3 py-3">Beasiswa Terbaru</h1>

          {% for beasiswa in arrBeasiswa %}

            <div class="row px-5 my-2">
              <div class="col-md-10">
                <a href="" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" data-target="#myModal{{beasiswa.4}}">
                    <h5 class="mb-1">Beasiswa {{beasiswa.0}} </h5>
                  <p class="mb-1">Tutup pada {{beasiswa.1}} </p>

                  {% if beasiswa.2 %}
                  <small class="text-muted">Pendaftaran beasiswa masih dibuka</small>
                  {% else %}
                  <small class="text-muted">Pendaftaran beasiswa sudah ditutup</small>
                  {% endif %}

                </a>
              </div>
              <div class="col-md-2">
                <p class="text-center"> Total pendaftar {{beasiswa.3}} </p>
                <div class="center-wrapper" align="center">
                  <a class="btn btn-secondary" data-toggle="modal" data-target="#myModal{{beasiswa.4}}" >Detail</a>
                </div>

              <div id="myModal{{beasiswa.4}}" class="modal fade" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">{{beasiswa.0}} - {{beasiswa.4}}</h5>
                        <button type="button" class="close" data-dismiss="modal">
                          <span>×</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p> {{beasiswa.5}}dibuat oleh {{beasiswa.6}} </p>
                        <p> {{beasiswa.7}}</p>
                        <p> Syarat Beasiswa : {{beasiswa.8}}</p>

                      </div>
                      <div class="modal-footer">

                        {% if request.session.role == "mahasiswa" %}
                          <a type="btn btn-secondary" class="btn btn-secondary" href="/mahasiswaDashboard/daftarBeasiswa/" >Daftar Beasiswa Ini</a>
                        {% endif %}

                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>


              </div>
            </div>

          {% endfor %}

          <div class="row px-5 my-2">
            <div class="col-md-12">
              <a href="/infoBeasiswa/" class="btn btn-outline-primary btn-block btn-lg my-2">Lihat Semua Beasiswa</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 py-5">
    <div class="w-100 container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center text-primary text-uppercase px-3 py-3">lets join us!</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="center-wrapper" align="center">
            <i class="fa fa-5x d-block fa-graduation-cap"></i>
          </div>
          <h1 class="text-center">Beasiswa Hunter</h1>
          <p class="text-center">Beasiswa Hunter adalah term yang digunakan untuk Kamu para mahasiswa yang ingin mendapatkan beasiswa dan melanjutkan pendidikan setinggi-tingginya untuk mewujudkan masa depan yang cemerlang!</p>
          <div class="center-wrapper" align="center">
            <a href="/register/mahasiswa/" class="btn btn-outline-primary">Be a Beasiswa Hunter</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="center-wrapper" align="center">
            <i class="fa fa-5x d-block fa-user"></i>
          </div>
          <h1 class="text-center">Individual Donors</h1>
          <p class="text-center">Dengan menjadi seorang Individual Donors Kamu bisa secara langsung berkontribusi untuk menciptakan perubahan dan mewujudkan masa depan serta pendidikan yang lebih baik!</p>
          <div class="center-wrapper" align="center">
            <a href="/register/individual-donatur/" class="btn btn-outline-primary">Be an Individual Donors</a>
          </div>
        </div>
        <div class="col-md-4" align="center">
          <div class="center-wrapper" align="center">
            <i class="fa fa-5x d-block fa-users" ></i>
          </div>
          <h1 class="text-center">Foundation</h1>
          <p class="text-center">Jadikan Foundation / Yayasanmu menjadi bagian dari satu dari sekian banyak Yayasan pembawa perubahan untuk pendidikan yang membuat pendidikan dan masa depan yang lebih bercahaya</p>
          <div class="center-wrapper" align="center">
            <a href="/register/yayasan/" class="btn btn-outline-primary">Register your Foundation</a>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="py-5">
  </div>


</body>

</html>
{% endblock %}